.default {
    padding: 10px 30px;
    background: none;
    border: none;
    color: #131313;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    width: 100%;
    background-color: #00c5e7
}

.default::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: rgba(255, 255, 255, 0.4);
    top: 50%;
    transform: skew(30deg) translate(-150%, -50%);
    transition: all 0.5s;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    border-radius: 3px;
    background: #42b4e9
}

.default:hover {
    background: #42b4e9;
}

.default:hover::before {
    transform: skew(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.red {
    background-image: linear-gradient(firebrick, red);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}