.mainContainer {
  display: flex;
  height: 636px;
  background-color: #fefeff;
  top: 70px;
  border-radius: 8px;
  .textContainer div {
    display: flex;
  }
  .textContainer {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
  }
  .imageContainer {
    display: flex;
    align-items: center;
  }
}
.img {
  width: 526px;
  height: 526px;
}
